<div class="card text-center">
  <div class="card-header">ProductsHub</div>
  <div class="card-body">
    <h5 class="card-title">Special Products</h5>
    <p class="card-text">
      Product content is, simply, the text, imagery and other information that a
      brand or retailer provides to describe its offerings. This includes
      product names, prices, dimensions, descriptions and anything else that
      further helps consumers to understand the items they are viewing
    </p>
    <a href="#" class="btn btn-primary">Check Products</a>
  </div>
</div>
